In [16]:
#import libraries
import pandas as pd

In [15]:
path = 'data/IntGenByFuel2007.xls'
months = ('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec')


fuel_2007 = pd.DataFrame()

for month in months:
    fuel_month = pd.read_excel(path,sheet_name=f'{month}2007',index_col=0)
    fuel_2007 = fuel_2007.append(fuel_month)


#fuel_2007

fuel_2007.to_csv('test_output.csv', index=True)

In [24]:
path = 'data/IntGenByFuel2008.xls'

fuel_2008 = pd.DataFrame()

for month in months:
    fuel_month = pd.read_excel(path,sheet_name=f'{month}2008',index_col=0)
    fuel_2008 = fuel_2008.append(fuel_month)

fuel_2008

,Daily MWH,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,02:15:00,...,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,1900-01-01 00:00:00,Total
01/01/08 - Coal,339372.429300,3404.533580,3374.630529,3301.911372,3261.613219,3288.803572,3303.384605,3311.973296,3326.819369,3455.276891,...,3502.165337,3549.792347,3550.876593,3537.379010,3513.904143,3508.113675,3515.887981,3544.553621,3546.848403,NaN
01/01/08 - Gas,276619.641500,1903.848839,1924.976097,1981.468588,2056.427185,2038.527391,2037.782663,2044.793647,2047.330735,1998.122229,...,3909.524583,3768.977472,3715.293127,3638.667159,3555.422346,3468.293007,3359.934485,3295.795029,3229.623708,NaN
01/01/08 - Hydro,1412.214637,12.613451,16.785928,16.555397,16.583607,11.988934,8.931032,8.923337,8.925711,22.645949,...,17.117810,11.170575,8.886809,8.822955,8.802790,8.801122,8.812061,8.801055,8.788432,NaN
01/01/08 - Nuclear,121984.037300,1269.974310,1270.258137,1269.705270,1269.831950,1270.067861,1269.973788,1269.927915,1270.134620,1270.441414,...,1270.667483,1271.101743,1270.604567,1270.853273,1271.238813,1271.901956,1272.245606,1271.960144,1272.192722,NaN
01/01/08 - Oth,15057.486190,73.197452,75.471370,78.455400,76.270397,84.836193,94.078547,95.168241,91.887518,93.816436,...,217.902477,216.888418,216.264041,214.638235,214.152028,209.254285,205.932713,205.169873,204.610309,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/31/08-Gas_GT,NaN,320.106602,316.465331,301.338574,304.209012,298.801076,312.904322,293.602901,279.835582,270.426851,...,590.690969,702.111246,682.112361,675.011354,646.608217,661.991225,630.075729,554.271983,497.850853,49652.529411
12/31/08-Hydro,NaN,4.449232,5.060863,5.055748,5.063564,5.290445,5.275093,5.263472,5.308443,5.256775,...,4.007231,4.027017,4.025495,4.020993,4.016164,4.041265,4.034489,4.017723,4.076322,516.272998
12/31/08-Nuclear,NaN,1281.415193,1281.787146,1281.877205,1281.806360,1281.643251,1281.637059,1281.742056,1281.643981,1281.714299,...,1283.134557,1283.181093,1283.480000,1283.718352,1283.519053,1283.484562,1283.391063,1283.412556,1283.294441,123103.471718
12/31/08-Oth,NaN,83.332126,83.732321,83.095110,83.474506,83.469210,82.963600,83.577136,83.546554,83.379622,...,78.673701,79.218274,79.033469,79.618131,79.055882,79.515137,78.880434,78.878993,80.420095,8052.442880
12/31/08-Wnd,NaN,806.919147,756.449395,781.012355,776.499222,789.254184,817.964294,914.519610,954.745620,952.103764,...,286.186683,330.300563,355.724750,388.871377,437.618101,484.672525,545.290935,629.179374,735.838128,53238.548950

In [19]:
path = 'data/IntGenByFuel2009.xls'

fuel_2009 = pd.DataFrame()

for month in months:
    fuel_month = pd.read_excel(path,sheet_name=f'{month}09',index_col=0)
    fuel_2009 = fuel_2009.append(fuel_month)

fuel_2009

,Total,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,02:15:00,...,23:15:00,23:30:00,23:45:00,1900-01-01 00:00:00,08:15:00.1,15:45:00.1,01:15:00.1,01:30:00.1,01:45:00.1,02:00:00.1
01/01/09-Coal,304691.558714,3020.487264,3056.906920,3082.262173,3098.584427,3065.087090,3052.853255,2979.038714,2931.779420,2950.484918,...,3083.940354,3045.295414,2986.681957,2914.336574,NaN,NaN,NaN,NaN,NaN,NaN
01/01/09-Gas_CC,129403.009394,1325.290258,1215.452160,1158.773512,1170.987733,1306.003039,1325.337542,1338.004038,1309.718378,1262.679477,...,1120.740542,1085.176990,1072.555821,1054.434474,NaN,NaN,NaN,NaN,NaN,NaN
01/01/09-Gas_GT,35311.807617,445.346120,419.033958,393.803256,398.577992,412.819947,391.547636,364.205960,355.659455,349.281032,...,289.225971,280.536311,256.453816,250.612063,NaN,NaN,NaN,NaN,NaN,NaN
01/01/09-Hydro,615.694136,4.153304,4.145450,4.183091,4.383364,5.080254,5.025490,5.197667,5.185932,5.223259,...,4.597906,4.610066,4.600840,4.593259,NaN,NaN,NaN,NaN,NaN,NaN
01/01/09-Nuclear,123145.831190,1283.414104,1283.528677,1283.463135,1283.594266,1283.359472,1283.094010,1283.005867,1282.814754,1282.853599,...,1281.383236,1281.662580,1281.468095,1281.494464,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/31/09-Gas_GT,52459.607720,385.766523,367.975374,374.092373,369.508249,375.750184,359.741010,355.270537,348.324441,329.130754,...,526.676327,517.200096,497.149870,507.556896,NaN,NaN,NaN,NaN,NaN,NaN
12/31/09-Hydro,1165.147782,2.857105,2.863943,2.861736,2.856434,2.857924,2.857057,2.858342,2.863471,2.861898,...,3.066739,3.074199,3.071693,3.192461,NaN,NaN,NaN,NaN,NaN,NaN
12/31/09-Nuclear,124105.298400,1293.176243,1293.646372,1293.229198,1293.069672,1292.961319,1292.947032,1293.222175,1292.781225,1293.049919,...,1292.865898,1293.128195,1292.905271,1293.331290,NaN,NaN,NaN,NaN,NaN,NaN
12/31/09-Oth,9516.796092,99.860645,102.517641,102.522089,102.477174,102.706106,101.772551,101.705138,101.459366,102.302190,...,97.003543,99.921518,94.084064,90.418464,NaN,NaN,NaN,NaN,NaN,NaN
12/31/09-Wnd,55401.717590,471.005484,446.308656,404.704976,378.549407,386.361289,385.892483,379.220962,369.164434,361.591386,...,355.120902,363.184408,385.559990,351.122086,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
import pandas as pd

# Create an empty DataFrame to store the data
all_data = pd.DataFrame()

# Loop through years from 2007 to 2008
#file naming structure changes in 2009 so that will be done in a diffrent loop
for year in range(2007, 2023):
    path = f'data/IntGenByFuel{year}.xls'
    months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
    year_data = pd.DataFrame()

    # Loop through months for the current year
    for month in months:

        #account for misslabeling in october of 2007
        if month == 'Oct' and year == 2007:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            col_list = list(year_data.columns)
            miss_label = list(fuel_month.columns)
            #correct misslabel
            fuel_month.columns = col_list
            year_data = year_data.append(fuel_month)

        elif year == 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            #rename the index to match naming pattern
            fuel_month.index = fuel_month.index.strftime('%Y-%m-%d') + ' - ' + fuel_month['Fuel']
            fuel_month = fuel_month.drop(columns=['Fuel'])
            #filter out old index records
            fuel_month = fuel_month[fuel_month.index.str.contains('-')]
            year_data = year_data.append(fuel_month)            

        elif year > 2008 and year < 2016 and year != 2011:
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            year_data = year_data.append(fuel_month)

        elif year == 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{str(year)[-2:]}', index_col=0)
            year_data = year_data.append(fuel_month)

        elif year > 2016:
            path = f'data/IntGenByFuel{year}.xlsx'
            fuel_month = pd.read_excel(path, sheet_name=f'{month}', index_col=0)
            year_data = year_data.append(fuel_month)
        

        else:   
            fuel_month = pd.read_excel(path, sheet_name=f'{month}{year}', index_col=0)
            year_data = year_data.append(fuel_month)
        
    # Append the data for the current year to the all_data DataFrame
    all_data = all_data.append(year_data)

# The all_data DataFrame now contains the data from all months and years
all_data

,Daily MWH,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,02:15:00,...,22:45,23:00,23:15,23:30,23:45,0:00,01:15 (DST),01:30 (DST),01:45 (DST),02:00 (DST)
01/01/07 - Coal,314608.639900,3376.329577,3368.077206,3365.003007,3364.700590,3337.219223,3340.401121,3338.779986,3341.014301,3375.998789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Gas,272456.952300,2250.333739,2252.727205,2257.902081,2259.768252,2204.443372,2170.116980,2178.863551,2179.605680,2140.655363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Hydro,688.956912,3.814499,3.809214,3.811659,3.810560,3.810705,3.773842,3.772936,3.637019,3.350387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Nuclear,120060.021600,1250.245128,1249.936172,1250.009397,1250.187850,1250.503540,1250.240947,1250.433454,1250.212841,1250.094833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/01/07 - Oth,3743.903058,40.970577,41.076414,40.996679,41.211779,39.875432,38.641280,39.789598,39.754927,39.909498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1277.521610,1277.601614,1277.509454,1277.312147,1277.488193,1277.276178,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.097469,5.219245,18.643366,15.002416,4.763281,1.580591,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-57.648902,-52.646814,-20.507550,-10.509732,-10.269654,-44.427072,NaN,NaN,NaN,NaN
2022-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5627.661612,5613.644307,5509.516104,5489.178341,5450.046703,5506.060958,NaN,NaN,NaN,NaN

In [24]:
all_data['Total'] = all_data['Total'].fillna(all_data['Daily MWH'])
all_data[all_data.columns[96]] = all_data[all_data.columns[96]].fillna(all_data[all_data.columns[97]])
all_data = all_data.drop(columns=['Daily MWH',all_data.columns[97]])

In [25]:

all_data.to_csv('test_output.csv', index=True)